body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(244, 240, 248);
}

button {
  cursor: pointer;
  background-color: rgb(107, 64, 147);
  border: 1px solid rgb(107, 64, 147);
  border-radius: 15px;
  text-align: center;
  padding: 2px;
  margin: 0 auto;
  font-size: 10px;
  color: white;
}

.dark {
  background-color: #222;
  color: #e6e6e6;
}

.dark h4 {
  color: white;
  background-color: rgb(107, 64, 147);
  border: 1px solid rgb(107, 64, 147);
}

.dark .second-cont {
  background-color: rgb(9, 9, 9);
}

.dark .city {
  color: aquamarine;
}

.dark .main-temperature {
  color: aquamarine;
}

.dark .units {
  color: aquamarine;
}

.dark .descrip {
  color: white;
}
.dark .date {
  color: white;
}

.dark .weather-forecast {
  color: white;
}

.dark .footer {
  color: black;
}

.weather-app {
  padding: 20px;
  border: 1px solid aquamarine;
  border-radius: 5px;
  background-color: white;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.second-cont {
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.form-label {
  display: inline;
  margin-bottom: 10px;
}

.btn-primary {
  display: inline;
  margin-bottom: 15px;
  margin-left: -16px;
  background-color: rgb(107, 64, 147);
  border-color: rgb(107, 64, 147);
}

.btn-primary:hover {
  background-color: aquamarine;
  border-color: aquamarine;
  color: rgb(81, 82, 82);
  transition: 0.7s;
}

img {
  display: inline;
  margin: 0 auto;
}

ul {
  display: inline;
  list-style: none;
  margin: 0;
}

li {
  text-align: center;
  color: rgb(107, 64, 147);
}

li:first-letter {
  text-transform: capitalize;
}

h4 {
  text-align: center;
  margin: 10px auto;
  color: rgb(81, 82, 82);
  font-size: 11px;
  font-weight: normal;
  border: 1px solid aquamarine;
  background-color: aquamarine;
  border-radius: 2px;
  padding-top: 15px;
}

.tem {
  opacity: 0.6;
}

.line {
  color: rgb(107, 64, 147);
  opacity: 0.6;
}

.main-temperature {
  position: relative;
  font-size: 60px;
  font-weight: bold;
  line-height: normal;
}

.units {
  position: relative;
  font-size: 14px;
  top: -30px;
}

.descrip {
  font-style: italic;
  font-size: 14px;
  color: rgb(81, 82, 82);
}

.city {
  font-weight: bolder;
  font-size: 20px;
}

.date {
  font-style: italic;
  font-size: 14px;
  color: rgb(81, 82, 82);
}

.weather-forecast {
  padding: 15px;
  text-align: center;
  color: rgb(107, 64, 147);
}

.weather-forecast-day {
  font-size: 13px;
  opacity: 0.6;
}

.forecast-icon {
  display: block;
}

.weather-forecast-temp {
  font-size: 12px;
}

.temp-min {
  opacity: 0.6;
}

.footer {
  padding-top: 20px;
  display: block;
  text-align: center;
}
.name {
  color: rgb(81, 82, 82);
}

a {
  text-decoration: none;
  color: rgb(107, 64, 147);
  font-weight: bold;
}
